# first test

fdafsd

fdafda

In [48]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy.stats import mode
from statsmodels.nonparametric.kde import KDEUnivariate
from statsmodels.nonparametric import smoothers_lowess
from pandas import Series, DataFrame
from patsy import dmatrices
from sklearn import datasets, svm, tree

In [49]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
print(train.head())
print(test.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [50]:
test.shape

(418, 11)

In [51]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000         NaN    0.000000    0.000000         NaN
50%    1100.500000    3.000000         NaN    0.000000    0.000000         NaN
75%    1204.750000    3.000000         NaN    1.000000    0.000000         NaN
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [52]:
train.shape

(891, 12)

In [53]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,NaN,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,NaN,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,NaN,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [54]:
print train.iloc[124]

PassengerId                            125
Survived                                 0
Pclass                                   1
Name           White, Mr. Percival Wayland
Sex                                   male
Age                                     54
SibSp                                    0
Parch                                    1
Ticket                               35281
Fare                               77.2875
Cabin                                  D26
Embarked                                 S
Name: 124, dtype: object

In [55]:
train = train.drop(['Ticket','Cabin'], axis=1)
print train.iloc[124]

PassengerId                            125
Survived                                 0
Pclass                                   1
Name           White, Mr. Percival Wayland
Sex                                   male
Age                                     54
SibSp                                    0
Parch                                    1
Fare                               77.2875
Embarked                                 S
Name: 124, dtype: object

In [56]:
#cleaning fare column
train.Fare = train.Fare.map(lambda x: np.nan if x==0 else x)
classmeans = train.pivot_table('Fare', index='Pclass', aggfunc='mean')
train.Fare = train[['Fare', 'Pclass']].apply(lambda x: classmeans[x['Pclass']] if pd.isnull(x['Fare']) else x['Fare'], axis=1 )
    
#cleaning the age column
meanAge=np.mean(train.Age)
train.Age=train.Age.fillna(meanAge)

print train

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
5                                     Moran, Mr. James    male  29.699118
6                              McCarthy, Mr. Timothy J    male  54.000000
7                       Palsson, Master. Gosta Leonard    male   2.000000
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.000000
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.000000
10                     Sandstrom, Miss. Marguerite Rut  female   4.000000
11                            Bonnell, Miss. Elizabeth  female  58.000000
12                      Saundercock, Mr. William Henry    male  20.000000
13                         Andersson, Mr. Anders Johan    male  39.000000
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.000000
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.000000
16                                Rice, Master. Eugene    male   2.000000
17                        Williams, Mr. Charles Eugene    male  29.699118
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.000000
19                             Masselmani, Mrs. Fatima  female  29.699118
20                                Fynney, Mr. Joseph J    male  35.000000
21                               Beesley, Mr. Lawrence    male  34.000000
22                         McGowan, Miss. Anna "Annie"  female  15.000000
23                        Sloper, Mr. William Thompson    male  28.000000
24                       Palsson, Miss. Torborg Danira  female   8.000000
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.000000
26                             Emir, Mr. Farred Chehab    male  29.699118
27                      Fortune, Mr. Charles Alexander    male  19.000000
28                       O'Dwyer, Miss. Ellen "Nellie"  female  29.699118
29                                 Todoroff, Mr. Lalio    male  29.699118
..                                                 ...     ...        ...
861                        Giles, Mr. Frederick Edward    male  21.000000
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.000000
863                  Sage, Miss. Dorothy Edith "Dolly"  female  29.699118
864                             Gill, Mr. John William    male  24.000000
865                           Bystrom, Mrs. (Karolina)  female  42.000000
866                       Duran y More, Miss. Asuncion  female  27.000000
867               Roebling, Mr. Washington Augustus II    male  31.000000
868                        van Melkebeke, Mr. Philemon    male  29.699118
869                    Johnson, Master. Harold Theodor    male   4.000000
870                                  Balkic, Mr. Cerin    male  26.000000
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.000000
872                           Carlsson, Mr. Frans Olof    male  33.000000
873                        Vander Cruyssen, Mr. Victor    male  47.000000
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.000000
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.000000
876                      Gustafsson, Mr. Alfred Ossian    male  20.000000
877                               Petroff, Mr. Nedelio    male  19.000000
878                                 Laleff, Mr. Kristo    male  29.699118
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.000000
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.000000
881                                 Markun, Mr. Johann    male  33.000000
882                       Dahlberg, Miss. Gerda Ulrika  female  22.000000
883                      Banfield, Mr. Frederick James    male  28.000000
884                             Sutehall, Mr. Henry Jr    male  25.000000
885               Rice, Mrs. William (Margaret Norton)  female  39.000000
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch      Fare Embarked
0        1      0    7.2500        S
1        1      0   71.2833        C
2        0      0    7.9250        S
3        1      0   53.1000        S
4        0      0    8.0500        S
5        0      0    8.4583        Q
6        0      0   51.8625        S
7        3      1   21.0750        S
8        0      2   11.1333        S
9        1      0   30.0708        C
10       1      1   16.7000        S
11       0      0   26.5500        S
12       0      0    8.0500        S
13       1      5   31.2750        S
14       0      0    7.8542        S
15       0      0   16.0000        S
16       4      1   29.1250        Q
17       0      0   13.0000        S
18       1      0   18.0000        S
19       0      0    7.2250        C
20       0      0   26.0000        S
21       0      0   13.0000        S
22       0      0    8.0292        Q
23       0      0   35.5000        S
24       3      1   21.0750        S
25       1      5   31.3875        S
26       0      0    7.2250        C
27       3      2  263.0000        S
28       0      0    7.8792        Q
29       0      0    7.8958        S
..     ...    ...       ...      ...
861      1      0   11.5000        S
862      0      0   25.9292        S
863      8      2   69.5500        S
864      0      0   13.0000        S
865      0      0   13.0000        S
866      1      0   13.8583        C
867      0      0   50.4958        S
868      0      0    9.5000        S
869      1      1   11.1333        S
870      0      0    7.8958        S
871      1      1   52.5542        S
872      0      0    5.0000        S
873      0      0    9.0000        S
874      1      0   24.0000        C
875      0      0    7.2250        C
876      0      0    9.8458        S
877      0      0    7.8958        S
878      0      0    7.8958        S
879      0      1   83.1583        C
880      0      1   26.0000        S
881      0      0    7.8958        S
882      0      0   10.5167        S
883      0      0   10.5000        S
884      0      0    7.0500        S
885      0      5   29.1250        Q
886      0      0   13.0000        S
887      0      0   30.0000        S
888      1      2   23.4500        S
889      0      0   30.0000        C
890      0      0    7.7500        Q

[891 rows x 10 columns]

In [57]:
train.shape

(891, 10)

In [58]:
train = train.dropna()
train.shape

(889, 10)

In [8]:
# Passengers that survived vs passengers that passed away
print(train.Survived.value_counts())

0    549
1    342
Name: Survived, dtype: int64

In [66]:
# Males that survived vs males that passed away
print(train["Survived"][train["Sex"] == 'male'].value_counts())

0    54
1    41
Name: Survived, dtype: int64

In [67]:
# Normalized male survival
print(train["Survived"][train["Sex"] == 'male'].value_counts(normalize = True))

0    0.568421
1    0.431579
Name: Survived, dtype: float64

In [68]:
# Females that survived vs Females that passed away
print(train["Survived"][train["Sex"] == 'female'].value_counts())

1    82
0     6
Name: Survived, dtype: int64

In [69]:
# Normalized female survival
print(train["Survived"][train["Sex"] == 'female'].value_counts(normalize = True))

1    0.931818
0    0.068182
Name: Survived, dtype: float64

In [70]:
# Create the column Child and assign to 'NaN'
train["Child"] = float('NaN')
#print(train["Child"])

In [71]:
# Assign 1 to passengers under 18, 0 to those 18 or older. Print the new column.
train["Child"][train["Age"] < 18] = 1
train["Child"][train["Age"] >= 18] = 0
print(train["Child"])

1      0.0
3      0.0
6      0.0
10     1.0
11     0.0
21     0.0
23     0.0
27     0.0
52     0.0
54     0.0
62     0.0
66     0.0
75     0.0
88     0.0
92     0.0
96     0.0
97     0.0
102    0.0
110    0.0
118    0.0
123    0.0
124    0.0
136    0.0
137    0.0
139    0.0
148    0.0
151    0.0
170    0.0
174    0.0
177    0.0
      ...
737    0.0
741    0.0
742    0.0
745    0.0
748    0.0
751    1.0
759    0.0
763    0.0
765    0.0
772    0.0
779    0.0
781    1.0
782    0.0
789    0.0
796    0.0
802    1.0
806    0.0
809    0.0
820    0.0
823    0.0
835    0.0
853    1.0
857    0.0
862    0.0
867    0.0
871    0.0
872    0.0
879    0.0
887    0.0
889    0.0
Name: Child, dtype: float64

C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [72]:
# Print normalized Survival Rates for passengers under 18
print(train["Survived"][train["Child"] == 1].value_counts(normalize = True))

1    0.894737
0    0.105263
Name: Survived, dtype: float64

In [74]:
# Convert the male and female groups to integer form
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1
#print train

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
21            22         1       2
23            24         1       1
27            28         0       1
52            53         1       1
54            55         0       1
62            63         0       1
66            67         1       2
75            76         0       3
88            89         1       1
92            93         0       1
96            97         0       1
97            98         1       1
102          103         0       1
110          111         0       1
118          119         0       1
123          124         1       2
124          125         0       1
136          137         1       1
137          138         0       1
139          140         0       1
148          149         0       2
151          152         1       1
170          171         0       1
174          175         0       1
177          178         0       1
..           ...       ...     ...
737          738         1       1
741          742         0       1
742          743         1       1
745          746         0       1
748          749         0       1
751          752         1       3
759          760         1       1
763          764         1       1
765          766         1       1
772          773         0       2
779          780         1       1
781          782         1       1
782          783         0       1
789          790         0       1
796          797         1       1
802          803         1       1
806          807         0       1
809          810         1       1
820          821         1       1
823          824         1       3
835          836         1       1
853          854         1       1
857          858         1       1
862          863         1       1
867          868         0       1
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1  35.0      1
6                              McCarthy, Mr. Timothy J   0  54.0      0
10                     Sandstrom, Miss. Marguerite Rut   1   4.0      1
11                            Bonnell, Miss. Elizabeth   1  58.0      0
21                               Beesley, Mr. Lawrence   0  34.0      0
23                        Sloper, Mr. William Thompson   0  28.0      0
27                      Fortune, Mr. Charles Alexander   0  19.0      3
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)   1  49.0      1
54                      Ostby, Mr. Engelhart Cornelius   0  65.0      0
62                         Harris, Mr. Henry Birkhardt   0  45.0      1
66                        Nye, Mrs. (Elizabeth Ramell)   1  29.0      0
75                             Moen, Mr. Sigurd Hansen   0  25.0      0
88                          Fortune, Miss. Mabel Helen   1  23.0      3
92                         Chaffee, Mr. Herbert Fuller   0  46.0      1
96                           Goldschmidt, Mr. George B   0  71.0      0
97                     Greenfield, Mr. William Bertram   0  23.0      0
102                          White, Mr. Richard Frasar   0  21.0      0
110                     Porter, Mr. Walter Chamberlain   0  47.0      0
118                           Baxter, Mr. Quigg Edmond   0  24.0      0
123                                Webber, Miss. Susan   1  32.5      0
124                        White, Mr. Percival Wayland   0  54.0      0
136                       Newsom, Miss. Helen Monypeny   1  19.0      0
137                        Futrelle, Mr. Jacques Heath   0  37.0      1
139                                 Giglio, Mr. Victor   0  24.0      0
148           Navratil, Mr. Michel ("Louis M Hoffman")   0  36.5      0
151                  Pears, Mrs. Thomas (Edith Wearne)   1  22.0      1
170                          Van der hoef, Mr. Wyckoff   0  61.0      0
174                            Smith, Mr. James Clinch   0  56.0      0
177                         Isham, Miss. Ann Elizabeth   1  50.0      0
..                                                 ...  ..   ...    ...
737                             Lesurer, Mr. Gustave J   0  35.0      0
741                      Cavendish, Mr. Tyrell William   0  36.0      1
742              Ryerson, Miss. Susan Parker "Suzette"   1  21.0      2
745                       Crosby, Capt. Edward Gifford   0  70.0      1
748                          Marvin, Mr. Daniel Warner   0  19.0      1
751                                Moor, Master. Meier   0   6.0      0
759  Rothes, the Countess. of (Lucy Noel Martha Dye...   1  33.0      0
763          Carter, Mrs. William Ernest (Lucile Polk)   1  36.0      1
765               Hogeboom, Mrs. John C (Anna Andrews)   1  51.0      1
772                                  Mack, Mrs. (Mary)   1  57.0      0
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...   1  43.0      0
781          Dick, Mrs. Albert Adrian (Vera Gillespie)   1  17.0      1
782                             Long, Mr. Milton Clyde   0  29.0      0
789                           Guggenheim, Mr. Benjamin   0  46.0      0
796                        Leader, Dr. Alice (Farnham)   1  49.0      0
802                Carter, Master. William Thornton II   0  11.0      1
806                             Andrews, Mr. Thomas Jr   0  39.0      0
809     Chambers, Mrs. Norman Campbell (Bertha Griggs)   1  33.0      1
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...   1  52.0      1
823                                 Moor, Mrs. (Beila)   1  27.0      0
835                        Compton, Miss. Sara Rebecca   1  39.0      1
853                          Lines, Miss. Mary Conover   1  16.0      0
857                             Daly, Mr. Peter Denis    0  51.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...   1  48.0      0
867               Roebling, Mr. Washington Augustus II   0  31.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   1  47.0      1
872                           Carlsson, Mr. Frans Olof   0  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   1  56.0      0
887                       Graham, Miss. Margaret Edith   1  19.0      0
889                              Behr, Mr. Karl Howell   0  26.0      0

     Parch       Ticket      Fare            Cabin Embarked  Child
1        0     PC 17599   71.2833              C85        C    0.0
3        0       113803   53.1000             C123        S    0.0
6        0        17463   51.8625              E46        S    0.0
10       1      PP 9549   16.7000               G6        S    1.0
11       0       113783   26.5500             C103        S    0.0
21       0       248698   13.0000              D56        S    0.0
23       0       113788   35.5000               A6        S    0.0
27       2        19950  263.0000      C23 C25 C27        S    0.0
52       0     PC 17572   76.7292              D33        C    0.0
54       1       113509   61.9792              B30        C    0.0
62       0        36973   83.4750              C83        S    0.0
66       0   C.A. 29395   10.5000              F33        S    0.0
75       0       348123    7.6500            F G73        S    0.0
88       2        19950  263.0000      C23 C25 C27        S    0.0
92       0  W.E.P. 5734   61.1750              E31        S    0.0
96       0     PC 17754   34.6542               A5        C    0.0
97       1     PC 17759   63.3583          D10 D12        C    0.0
102      1        35281   77.2875              D26        S    0.0
110      0       110465   52.0000             C110        S    0.0
118      1     PC 17558  247.5208          B58 B60        C    0.0
123      0        27267   13.0000             E101        S    0.0
124      1        35281   77.2875              D26        S    0.0
136      2        11752   26.2833              D47        S    0.0
137      0       113803   53.1000             C123        S    0.0
139      0     PC 17593   79.2000              B86        C    0.0
148      2       230080   26.0000               F2        S    0.0
151      0       113776   66.6000               C2        S    0.0
170      0       111240   33.5000              B19        S    0.0
174      0        17764   30.6958               A7        C    0.0
177      0     PC 17595   28.7125              C49        C    0.0
..     ...          ...       ...              ...      ...    ...
737      0     PC 17755  512.3292             B101        C    0.0
741      0        19877   78.8500              C46        S    0.0
742      2     PC 17608  262.3750  B57 B59 B63 B66        C    0.0
745      1    WE/P 5735   71.0000              B22        S    0.0
748      0       113773   53.1000              D30        S    0.0
751      1       392096   12.4750             E121        S    1.0
759      0       110152   86.5000              B77        S    0.0
763      2       113760  120.0000          B96 B98        S    0.0
765      0        13502   77.9583              D11        S    0.0
772      0  S.O./P.P. 3   10.5000              E77        S    0.0
779      1        24160  211.3375               B3        S    0.0
781      0        17474   57.0000              B20        S    1.0
782      0       113501   30.0000               D6        S    0.0
789      0     PC 17593   79.2000          B82 B84        C    0.0
796      0        17465   25.9292              D17        S    0.0
802      2       113760  120.0000          B96 B98        S    1.0
806      0       112050    0.0000              A36        S    0.0
809      0       113806   53.1000               E8        S    0.0
820      1        12749   93.5000              B69        S    0.0
823      1       392096   12.4750             E121        S    0.0
835      1     PC 17756   83.1583              E49        C    0.0
853      1     PC 17592   39.4000              D28        S    1.0
857      0       113055   26.5500              E17        S    0.0
862      0        17466   25.9292              D17        S    0.0
867      0     PC 17590   50.4958              A24        S    0.0
871      1        11751   52.5542              D35        S    0.0
872      0          695    5.0000      B51 B53 B55        S    0.0
879      1        11767   83.1583              C50        C    0.0
887      0       112053   30.0000              B42        S    0.0
889      0       111369   30.0000             C148        C    0.0

[183 rows x 13 columns]

C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [75]:
# Impute the Embarked variable
train["Embarked"] = train["Embarked"].fillna("S")

# Convert the Embarked classes to integer form
train["Embarked"][train["Embarked"] == "S"] = 0
train["Embarked"][train["Embarked"] == "C"] = 1
train["Embarked"][train["Embarked"] == "Q"] = 2

# Print the Sex and Embarked columns
print(train["Sex"])
print(train["Embarked"])

1      1
3      1
6      0
10     1
11     1
21     0
23     0
27     0
52     1
54     0
62     0
66     1
75     0
88     1
92     0
96     0
97     0
102    0
110    0
118    0
123    1
124    0
136    1
137    0
139    0
148    0
151    1
170    0
174    0
177    1
      ..
737    0
741    0
742    1
745    0
748    0
751    0
759    1
763    1
765    1
772    1
779    1
781    1
782    0
789    0
796    1
802    0
806    0
809    1
820    1
823    1
835    1
853    1
857    0
862    1
867    0
871    1
872    0
879    1
887    1
889    0
Name: Sex, dtype: object
1      1
3      0
6      0
10     0
11     0
21     0
23     0
27     0
52     1
54     1
62     0
66     0
75     0
88     0
92     0
96     1
97     1
102    0
110    0
118    1
123    0
124    0
136    0
137    0
139    1
148    0
151    0
170    0
174    1
177    1
      ..
737    1
741    0
742    1
745    0
748    0
751    0
759    0
763    0
765    0
772    0
779    0
781    0
782    0
789    1
796    0
802    0
806    0
809    0
820    0
823    0
835    1
853    0
857    0
862    0
867    0
871    0
872    0
879    1
887    0
889    1
Name: Embarked, dtype: object

C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [77]:
# Create the target and features numpy arrays: target, features_one
target = train["Survived"].values
features_one = train[["Pclass", "Sex", "Age", "Fare"]].values

In [78]:
print features_one

[[1L 1 38.0 71.2833]
 [1L 1 35.0 53.1]
 [1L 0 54.0 51.8625]
 [3L 1 4.0 16.7]
 [1L 1 58.0 26.55]
 [2L 0 34.0 13.0]
 [1L 0 28.0 35.5]
 [1L 0 19.0 263.0]
 [1L 1 49.0 76.7292]
 [1L 0 65.0 61.9792]
 [1L 0 45.0 83.475]
 [2L 1 29.0 10.5]
 [3L 0 25.0 7.65]
 [1L 1 23.0 263.0]
 [1L 0 46.0 61.175]
 [1L 0 71.0 34.6542]
 [1L 0 23.0 63.3583]
 [1L 0 21.0 77.2875]
 [1L 0 47.0 52.0]
 [1L 0 24.0 247.5208]
 [2L 1 32.5 13.0]
 [1L 0 54.0 77.2875]
 [1L 1 19.0 26.2833]
 [1L 0 37.0 53.1]
 [1L 0 24.0 79.2]
 [2L 0 36.5 26.0]
 [1L 1 22.0 66.6]
 [1L 0 61.0 33.5]
 [1L 0 56.0 30.6958]
 [1L 1 50.0 28.7125]
 [2L 0 1.0 39.0]
 [2L 0 3.0 26.0]
 [1L 1 44.0 27.7208]
 [1L 1 58.0 146.5208]
 [3L 1 2.0 10.4625]
 [1L 0 40.0 31.0]
 [1L 1 31.0 113.275]
 [1L 1 32.0 76.2917]
 [1L 0 38.0 90.0]
 [1L 1 35.0 83.475]
 [1L 0 44.0 90.0]
 [1L 0 37.0 52.5542]
 [3L 1 29.0 10.4625]
 [1L 0 62.0 26.55]
 [1L 1 30.0 86.5]
 [1L 0 52.0 79.65]
 [1L 0 40.0 0.0]
 [1L 1 58.0 153.4625]
 [1L 1 35.0 135.6333]
 [1L 0 37.0 29.7]
 [1L 1 63.0 77.9583]
 [1L 1 19.0 91.0792]
 [2L 0 36.0 12.875]
 [1L 1 2.0 151.55]
 [1L 1 50.0 247.5208]
 [1L 0 0.92 151.55]
 [1L 1 17.0 108.9]
 [1L 1 30.0 56.9292]
 [1L 1 24.0 83.1583]
 [1L 1 18.0 262.375]
 [1L 1 31.0 164.8667]
 [1L 1 40.0 134.5]
 [1L 1 36.0 135.6333]
 [2L 1 36.0 13.0]
 [1L 1 16.0 57.9792]
 [1L 0 45.5 28.5]
 [1L 0 38.0 153.4625]
 [1L 0 29.0 66.6]
 [1L 1 41.0 134.5]
 [1L 0 45.0 35.5]
 [2L 0 2.0 26.0]
 [1L 1 24.0 263.0]
 [2L 1 24.0 13.0]
 [1L 1 22.0 55.0]
 [1L 1 60.0 75.25]
 [1L 1 24.0 69.3]
 [1L 0 25.0 55.4417]
 [1L 0 27.0 211.5]
 [1L 0 36.0 120.0]
 [1L 1 23.0 113.275]
 [3L 1 24.0 16.7]
 [1L 1 33.0 90.0]
 [3L 0 32.0 8.05]
 [1L 0 28.0 26.55]
 [1L 0 50.0 55.9]
 [1L 1 14.0 120.0]
 [1L 0 64.0 263.0]
 [1L 0 4.0 81.8583]
 [1L 0 52.0 30.5]
 [1L 0 30.0 27.75]
 [1L 0 49.0 89.1042]
 [1L 0 65.0 26.55]
 [1L 0 48.0 26.55]
 [1L 0 47.0 38.5]
 [2L 1 23.0 13.7917]
 [1L 0 25.0 91.0792]
 [1L 1 35.0 90.0]
 [1L 0 58.0 29.7]
 [1L 0 55.0 30.5]
 [1L 1 54.0 78.2667]
 [1L 1 25.0 151.55]
 [1L 1 16.0 86.5]
 [1L 0 18.0 108.9]
 [1L 0 36.0 26.2875]
 [1L 0 47.0 34.0208]
 [2L 1 34.0 10.5]
 [1L 1 30.0 93.5]
 [1L 1 44.0 57.9792]
 [1L 0 45.0 26.55]
 [1L 1 22.0 49.5]
 [1L 1 36.0 71.0]
 [1L 0 50.0 106.425]
 [1L 0 17.0 110.8833]
 [1L 1 48.0 39.6]
 [1L 1 39.0 79.65]
 [1L 1 53.0 51.4792]
 [1L 0 36.0 26.3875]
 [1L 1 39.0 55.9]
 [1L 1 39.0 110.8833]
 [1L 0 36.0 40.125]
 [1L 1 18.0 79.65]
 [1L 0 60.0 79.2]
 [1L 1 52.0 78.2667]
 [1L 0 49.0 56.9292]
 [1L 1 40.0 153.4625]
 [2L 1 4.0 39.0]
 [1L 0 42.0 52.5542]
 [1L 0 61.0 32.3208]
 [1L 1 21.0 77.9583]
 [1L 0 80.0 30.0]
 [1L 0 32.0 30.5]
 [1L 1 24.0 69.3]
 [1L 0 48.0 76.7292]
 [1L 0 56.0 35.5]
 [1L 0 58.0 113.275]
 [1L 0 47.0 25.5875]
 [1L 0 31.0 52.0]
 [1L 0 36.0 512.3292]
 [1L 0 27.0 76.7292]
 [1L 1 15.0 211.3375]
 [1L 0 31.0 57.0]
 [1L 0 49.0 110.8833]
 [3L 0 42.0 7.65]
 [1L 1 18.0 227.525]
 [1L 0 35.0 26.2875]
 [1L 0 42.0 26.2875]
 [1L 1 24.0 49.5042]
 [1L 0 48.0 52.0]
 [3L 0 19.0 7.65]
 [1L 1 38.0 227.525]
 [2L 1 27.0 10.5]
 [1L 0 27.0 53.1]
 [1L 1 29.0 211.3375]
 [1L 0 35.0 512.3292]
 [1L 0 36.0 78.85]
 [1L 1 21.0 262.375]
 [1L 0 70.0 71.0]
 [1L 0 19.0 53.1]
 [3L 0 6.0 12.475]
 [1L 1 33.0 86.5]
 [1L 1 36.0 120.0]
 [1L 1 51.0 77.9583]
 [2L 1 57.0 10.5]
 [1L 1 43.0 211.3375]
 [1L 1 17.0 57.0]
 [1L 0 29.0 30.0]
 [1L 0 46.0 79.2]
 [1L 1 49.0 25.9292]
 [1L 0 11.0 120.0]
 [1L 0 39.0 0.0]
 [1L 1 33.0 53.1]
 [1L 1 52.0 93.5]
 [3L 1 27.0 12.475]
 [1L 1 39.0 83.1583]
 [1L 1 16.0 39.4]
 [1L 0 51.0 26.55]
 [1L 1 48.0 25.9292]
 [1L 0 31.0 50.4958]
 [1L 1 47.0 52.5542]
 [1L 0 33.0 5.0]
 [1L 1 56.0 83.1583]
 [1L 1 19.0 30.0]
 [1L 0 26.0 30.0]]

In [79]:
# Fit your first decision tree: my_tree_one
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

# Look at the importance and score of the included features
print(my_tree_one.feature_importances_)
print(my_tree_one.score(features_one, target))

[ 0.          0.2834689   0.41337348  0.30315762]
1.0

In [80]:
# Impute the missing value with the median
test.Fare[152] = test.Fare.median()

C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [88]:
test = test.dropna()
# Convert the male and female groups to integer form
test["Sex"][test["Sex"] == "male"] = 0
test["Sex"][test["Sex"] == "female"] = 1

# Extract the features from the test set: Pclass, Sex, Age, and Fare.
test_features = test[["Pclass", "Sex", "Age", "Fare"]].values

C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\ronald_haynes\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [89]:

print test_features

[[1L 1 23.0 82.2667]
 [1L 1 47.0 61.175]
 [1L 1 48.0 262.375]
 [1L 1 22.0 61.9792]
 [1L 0 41.0 30.5]
 [1L 0 30.0 57.75]
 [1L 1 45.0 52.5542]
 [1L 0 45.0 29.7]
 [1L 1 60.0 76.2917]
 [1L 0 24.0 60.0]
 [1L 1 28.0 263.0]
 [3L 0 25.0 7.65]
 [1L 1 36.0 262.375]
 [1L 0 13.0 262.375]
 [1L 0 31.0 28.5375]
 [1L 1 60.0 263.0]
 [1L 0 28.5 27.7208]
 [1L 1 35.0 211.5]
 [1L 0 32.5 211.5]
 [1L 1 55.0 25.7]
 [1L 0 67.0 221.7792]
 [1L 1 27.0 52.0]
 [1L 1 76.0 78.85]
 [1L 1 43.0 55.4417]
 [2L 0 18.5 13.0]
 [1L 1 36.0 31.6792]
 [1L 1 63.0 221.7792]
 [3L 1 1.0 16.7]
 [1L 0 36.0 75.2417]
 [1L 1 35.0 57.75]
 [1L 0 53.0 28.5]
 [1L 0 61.0 262.375]
 [1L 1 23.0 83.1583]
 [1L 1 29.0 221.7792]
 [1L 0 42.0 26.55]
 [1L 0 48.0 50.4958]
 [1L 0 54.0 55.4417]
 [2L 1 36.0 39.0]
 [1L 1 64.0 83.1583]
 [1L 0 37.0 83.1583]
 [1L 1 18.0 53.1]
 [1L 1 27.0 247.5208]
 [1L 0 6.0 134.5]
 [1L 0 47.0 227.525]
 [1L 1 33.0 27.7208]
 [1L 0 42.0 42.5]
 [1L 1 50.0 211.5]
 [2L 1 22.0 10.5]
 [1L 0 39.0 71.2833]
 [1L 0 64.0 75.25]
 [1L 1 48.0 106.425]
 [1L 0 45.0 134.5]
 [1L 0 41.0 51.8625]
 [1L 0 27.0 136.7792]
 [1L 0 46.0 75.2417]
 [1L 1 26.0 136.7792]
 [1L 0 24.0 82.2667]
 [1L 0 53.0 81.8583]
 [1L 1 64.0 26.55]
 [1L 0 30.0 151.55]
 [1L 0 55.0 93.5]
 [1L 1 55.0 135.6333]
 [1L 0 57.0 146.5208]
 [3L 0 25.0 7.2292]
 [2L 0 26.0 13.0]
 [2L 1 12.0 39.0]
 [1L 0 39.0 29.7]
 [1L 0 30.0 26.0]
 [1L 1 58.0 512.3292]
 [1L 1 45.0 63.3583]
 [1L 0 50.0 26.0]
 [1L 1 59.0 51.4792]
 [1L 1 25.0 55.4417]
 [1L 1 31.0 134.5]
 [1L 0 49.0 0.0]
 [1L 1 54.0 81.8583]
 [1L 0 55.0 50.0]
 [1L 0 23.0 93.5]
 [1L 1 51.0 39.4]
 [1L 1 18.0 60.0]
 [1L 1 48.0 79.2]
 [1L 1 30.0 164.8667]
 [1L 0 43.0 27.7208]
 [2L 0 20.0 13.8625]
 [1L 0 50.0 211.5]
 [1L 1 37.0 90.0]
 [1L 1 39.0 108.9]]

In [90]:
 # Make your prediction using the test set and print them.
my_prediction = my_tree_one.predict(test_features)
print(my_prediction)

[1 1 1 1 1 0 1 0 1 1 1 0 1 1 0 1 1 1 1 0 0 1 1 1 0 1 1 0 0 1 1 0 1 1 1 1 0
 1 1 0 1 1 1 0 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 1 0 0 1 1 0 0 1 1 1 1 1 1
 1 1 0 0 0 1 1 1 1 0 0 1 1]

In [91]:
# Create a data frame with two columns: PassengerId & Survived. Survived contains your predictions
PassengerId =np.array(test["PassengerId"]).astype(int)
my_solution = pd.DataFrame(my_prediction, PassengerId, columns = ["Survived"])
print(my_solution)

      Survived
904          1
906          1
916          1
918          1
920          1
926          0
936          1
938          0
940          1
942          1
945          1
949          0
951          1
956          1
960          0
961          1
965          1
966          1
967          1
969          0
973          0
984          1
988          1
992          1
1001         0
1004         1
1006         1
1009         0
1010         0
1014         1
...        ...
1185         0
1197         1
1198         0
1200         0
1206         1
1208         0
1213         0
1214         1
1218         1
1223         0
1227         0
1235         1
1242         1
1247         1
1248         1
1256         1
1263         1
1264         1
1266         1
1270         0
1282         0
1283         0
1287         1
1289         1
1292         1
1296         1
1297         0
1299         0
1303         1
1306         1

[87 rows x 1 columns]

In [93]:
# Write your solution to a csv file with the name my_solution.csv
my_solution.to_csv("my_solution_one.csv", index_label = ["PassengerId"])